<div id="<%= dom_id corrida %>">
  <p>
    <strong>Usuario:</strong>
    <%= corrida.usuario_id %>
  </p>

  <p>
    <strong>Endereco partida:</strong>
    <%= corrida.endereco_partida %>
  </p>

  <p>
    <strong>Endereco destino:</strong>
    <%= corrida.endereco_destino %>
  </p>

  <p>
    <strong>Horario solicitacao:</strong>
    <%= corrida.created_at %>
  </p>

  <p>
    <strong>Valor estimado:</strong>
    <%= corrida.valor_estimado %>
  </p>

</div>
